*{
    margin: 0;padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
body{
    background: #fff url(https://ngovang.com/wp-content/themes/sahifa/images/patterns/body-bg7.png);
}
.main-width{
    width: 82.4%;
    margin: 0 auto;
}
.header{
    background-color: #fff;
    padding: 30px 0 20px 20px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 10);
    -moz-box-shadow:0px 0px 1px rgba(0, 0, 0, 10);
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 10);
    border-top: 5px solid #ffbb01;
}
.header h1 a{
    text-decoration: none;
    color: black;
    font-size: 42px;
}
.header h1 a:hover{
    text-decoration: underline;
    color: brown;
    transition: all 0.5s;
}
/* ---------------MENU------------ */
.menu{
    clear: both;
    height: 44px;
    background: #2e2e2e;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    
}
.menu-main{
    margin: 0;

    
}
.menu-main ul{
    padding: 0;
}
.menu-main ul li{
    
    border-right: 1px solid #333333;
    list-style: none;
    float: left;
    background: #2e2e2e;
    position: relative;
    

}

.menu-main ul li:hover{
    text-decoration: underline;
}
.menu-main li a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px 20px;
    opacity: 70%;

}
.menu-main ul li ul{
    margin: 0;
    padding: 0;
    position: absolute;
    display: none;
}
.menu-main ul li:hover ul{
    display: block;
    transition: 2s, color 1s;
}


.menu-main ul li ul li{
    border-top: 1px solid #333333;
    width: 200px;
}



.menu-icon{
    float: right;
    margin: 0;
    padding: 0;
    line-height: 52px;
    background-color: #393939;
}
.menu-icon i.fa-random{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;height: auto;
    color: #ddd;
}
.menu-icon:hover{
    background-color: #807e7e;   
    
}
.menu-icon i.fa-random:hover{
    color: rgba(245, 71, 71, 0.694);

}
/* --------------------BODY------------------- */
.container{
    background: #fff;
    padding: 20px;
    display: flex;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 10);
    -moz-box-shadow:0px 0px 1px rgba(0, 0, 0, 10);
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 10);
    border-top: 5px solid #ffbb01;

    /* box-shadow: 0 0px 5px 0.1px black; */}
.main-left{
    width: 25%;
    margin-right: 10px;
    border-radius: 5px;
}
.stripe-line{
    width: 100%;
    height: 18px;
    background: url(https://ngovang.com/wp-content/themes/sahifa/images/stripe.png);
    margin-bottom: 5px;
}
.search{
    padding: 10px;
    border-bottom: 5px solid #ffbb01;
    border-radius: 5px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 10);
    -moz-box-shadow:0px 0px 1px rgba(0, 0, 0, 10);
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 10);

}
.search input{
    /* width: 255px; */
    width: 92%;
    height: 40px;
    border: none;
    padding: 0 10px;
    background-color: #f3f3f3;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 10);
    -moz-box-shadow:0px 0px 1px rgba(0, 0, 0, 10);
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 10);
    outline: transparent;
}
.search button{
    width: 40%;height: 30px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    background-color:#ffbb01;
    color: #fff;
    cursor: pointer;
}
.search button:hover{
    transition: all 0.5s;
    background-color: #a29c9c;
}
.search button a{
    color: #fff;
    text-decoration: none;
}
.chuyenmuc{
    height: 18px;
    margin: 20px 0 10px 0;
    align-items: center;
    width: 100%;
}
.chuyenmuc p{
    font-size: 18px;
    float: left;
    margin-right: 15px;
    line-height: 18px;
}
.stripe-line-2{
    overflow: hidden;
    height: 18px;
    margin-top: 3px;
    background: url(https://ngovang.com/wp-content/themes/sahifa/images/stripe.png);
}
/* ---------------------------------- */
.left-2{
    height: auto;
    padding: 10px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 10);
    -moz-box-shadow:0px 0px 1px rgba(0, 0, 0, 10);
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 10);
    border-radius: 5px;
    border-bottom: 5px solid #ffbb01;
    opacity: 80%;
}
.left-2 ul{
    padding: 0;
}
.left-2 ul li{
    list-style: none;
    font-size: 18px;
}
.left-2 ul li i{
    margin-right: 5px;
    color: #d1d0d0;
}
.left-2 ul li a{
    color:#000 ;
    text-decoration: none;
}
.left-2 ul li a:hover{
    color: #a10000;
    transition: all 0.5s;
    text-decoration: underline;
}
.mg-left-list-2{
    margin-left: 15px;
}
.Bai-viet-ngau-nhien{
    background-image: url(https://ngovang.com/wp-content/themes/sahifa/images/patterns/body-bg1.png);
}

.left-3{
    height: auto; 
    box-shadow: 0px 0px 3px 0.11px black;
    border-radius: 5px;
    border-bottom: 5px solid #ffbb01;
}
.box-1{
    padding: 10px 0 10px 0;
    margin: 10px;
    border-bottom: 1px solid #393939;
}
.box-1 span{
    opacity: 80%;
}
.box-1 h3{
    display: flex;
}
.box-1 h3 a{
    padding-left: 10px;
    text-decoration: none;
}
.box-1 h3 a:hover{
    color: #a10000;
    text-decoration: underline;
}
/* ------------fix----------- */
.box-1-fix{
    padding: 10px 0 0px 0;
    margin: 10px;
}
.box-1-fix span{
    opacity: 80%;
}
.box-1-fix h3{
    display: flex;
}
.box-1-fix h3 a{
    padding-left: 10px;
    text-decoration: none;
}
.box-1-fix h3 a:hover{
    color: #a10000;
    text-decoration: underline;
}
/* --------------------------------------- */


.main-right{
    background: #fff;
    width: 75%;
    margin-left: 10px;
}
.content-right{
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 10);
    -moz-box-shadow:0px 0px 1px rgba(0, 0, 0, 10);
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 10);
    padding: 20px;

}
.content-right a.content{
    text-decoration: none;
    font-size: 20px;
    color: #000;
}
.content-right a.content:hover{
    transition: all 0.3s;
    text-decoration: underline;
    color: rgb(150, 36, 36);
}

.content-right p.img-content{
    display: flex;
    padding: 10px 0 10px 0;
    
}
.content-right p.img-content a{
    margin-right: 5px;

}
.content-right p.img-content span{
    font-size: 18px;
    margin-left: 5px;
    opacity: 80%;
}
.content-right button{
    background:#ffbb01;
    width: 145px;
    border: none;
    border-radius: 5px;
}
.content-right button:hover{
    transition: all 0.5s;
    background-color: #a29c9c;
}
.content-right .bt-chitiet{
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}
/* --------------------list pgae------------ */
.list-page{
    border-top: 5px solid #ffbb01;

    display: flex;
    justify-content: space-between;
}
.list-page ul li{
    list-style: none;
    float: left;
    padding: 10px 5px;
    font-size: 18px;
    color: rgb(93, 91, 91);
}
.list-page ul li.list-page-1{
    background:#ffbb01;
    color: #fff;
}
.list-page p{
    padding: 10px 5px;
    font-size: 18px;
    color: rgb(93, 91, 91);
}
/* -----------------FOOTER------------ */
.footer-theme{
    margin-top: 10px;
    height: 48px;
    background-color: #333333;
    border-top: 10px solid#ffbb01;
}

.footer{
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    background: #2e2e2e;
    line-height: 35px;
    border-top: 1px solid #444;
    font-size: 18px;
}
.footer-left p{
    color: rgb(172, 171, 171);
}
.footer-left p a{
    color: white;
    text-decoration: underline;
}
.footer-left a{
    text-decoration: none;
    color: #f1f311 ;
}.footer-left a:hover{
    text-decoration: underline;
}

.footer-right {
    color: rgb(172, 171, 171);

}